@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "text-white" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li class="mr-4">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "index", "manage", null, new { @id = "user-manage", @class = "text-white", @title="Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-white">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="mr-4">@Html.ActionLink("Register", "register", "account", null, new { id = "registerLink", @class="text-white"})</li>
        <li>@Html.ActionLink("Log in", "login", "account", null, new { id = "loginLink", @class="text-white" })</li>
    </ul>
}
